= form_for [@patient, @prescription] do |f|
  / possible error messages
  - if @prescription.errors.any?
    %ul.error-list
      - @prescription.errors.full_messages.each do |error_message|
        %li.error-item
          = error_message
  / form
  .form-group
    = f.label :medication
    = f.text_field :medication
  .form-group
    = link_to "Cancel", :back
    | #{f.submit}
