= form_for @form do |f|
  .form-group.required
    = f.label :description
    = f.text_field :description
    %span.error-message.hidden Case Description is Required
  .form-group
    = f.label :patient
    = f.collection_select :patient_id, Patient.all, :id, :name, prompt: true
  .form-group
    = f.collection_check_boxes :symptom_ids, Symptom.all, :id, :description do |b|
      .form-group
        = b.check_box
        = b.label
  .form-group
    = f.submit
