= form_for @form do |f|
  / possible error messages
  - if @form.errors.any?
    %ul.error-list
      - @form.errors.full_messages.each do |error_message|
        %li.error-item
          = error_message
  /form
  .form-group
    = f.label :description
    = f.text_field :description
  .form-group
    = f.label :patient
    = f.collection_select :patient_id, Patient.all, :id, :name, prompt: true
  .form-group
    = f.collection_check_boxes :symptom_ids, Symptom.all, :id, :description do |b|
      .form-group
        = b.check_box
        = b.label
  .form-group
    = f.submit
