= form_tag cases_path, method: :get, class: "navbar-form", role: "search" do
  .input-group
    = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search"
    .input-group-btn
      %button.btn.btn-default{:style => "width:40px;"}
        -# %i.glyphicon.glyphicon-search

%h2 Case List
%ul.paginate
  - @cases.each do |_case|
    %li
      = _case.description
      |
      = link_to "view", case_path(_case)
      |
      = link_to "edit", edit_case_path(_case)
      |
      = link_to "delete", case_path(_case), method: :delete
