%h2 Patient Information
%ul.patient-information
  %li
    NAME: #{@patient.name_last + ', ' + @patient.name_first}
  %li
    DOB: #{@patient.date_of_birth}
  %li
    GENDER: #{@patient.gender}
  %li
    BLOOD TYPE: #{@patient.blood_type}
  %li
    DESCRIPTION:
    %p
      = @patient.description
  %li
    HOSPITAL:
    - if @hospital
      = link_to @hospital.name, hospital_path(@hospital)
= link_to "back", patients_path
