<h2>Patient Information</h2>
<ul class="patient-information">
  <li>
    NAME: <%= @patient.name_last + ', ' + @patient.name_first %>
  </li>
  <li>
    DOB: <%= @patient.date_of_birth %>
  </li>
  <li>
    GENDER: <%= @patient.gender %>
  </li>
  <li>
    BLOOD TYPE: <%= @patient.blood_type %>
  </li>
  <li>
    DESCRIPTION:
    <p>
      <%= @patient.description %>
    </p>
  </li>
  <li>
    HOSPITAL: <% if @hospital %><%= link_to @hospital.name, hospital_path(@hospital) %><% end %>
  </li>
  <%= link_to "Add Prescription", new_patient_prescription_path(@patient) %>
  <ul class="prescription-list">
    <% @patient.prescriptions.each do |prescription| %>
      <li class="prescription-item">
        <%= prescription.medication %> |
        <%= link_to "View", patient_prescription_path(@patient, prescription) %> |
        <%= link_to "Edit", edit_patient_prescription_path(@patient, prescription) %> |
        <%= link_to "Delete", patient_prescription_path(@patient, prescription), method: :delete %>
      </li>
    <% end %>
  </ul>
  <br/>
</ul>
<%= link_to "back", patients_path %>
