<h2>Hospitals</h2>
<%= link_to "Create New Hospital", new_hospital_path %>
<ul class="hospital-list">
  <% @hospitals.each do |hospital| %>
    <li class="hospital-item">
      <%= hospital.name %> |
      <%= link_to "view", hospital_path(hospital) %> |
      <%= link_to "edit", edit_hospital_path(hospital) %> | 
      <%= link_to "delete", hospital_path(hospital), method: :delete %>
    </li>
  <% end %>
</ul>
