= form_for @doctor do |f|
  / possible error messages
  - if @doctor.errors.any?
    %ul.error-list
      - @hospital.errors.full_messages.each do |error_message|
        %li.error-item
          = error_message
  / form
  .form-group
    = f.label :first_name
    = f.text_field :first_name
  .form-group
    = f.label :last_name
    = f.text_field :last_name
  .form-group
    = link_to "cancel", doctors_path
    |
    = f.submit
